aclocal/*     linguist-vendored
aclocal.m4    linguist-vendored
configure     linguist-vendored
config.guess  linguist-vendored
config.sub    linguist-vendored
install-sh    linguist-vendored
tclconfig/    linguist-vendored
vendor/       linguist-vendored
